<div class="about">
	<div>
		<h4 class="about__heading">Now a little about me..</h4>
	</div>
	<div class="about__content">
		<ul class="about__content__ul">
			<li class="about__content__li">Looking for the next <span class="about__content__li--span">adventure</span>...</li>
			<li class="about__content__li"><span class="about__content__li--span">Front end engineer</span> at <span class="about__content__li--span">Boxme inc from Sept 2015 - Apr - 2016</span></li>
			<li class="about__content__li"><span class="about__content__li--span">Freelancing for a few months</span> to learn about tech while making some money - Apr 2015- Sept 2015</li>
			<li class="about__content__li">Completed my <span class="about__content__li--span">M.C.A</span> at <span class="about__content__li--span">Amrita vishwa vidyapeethom 2014</span></li>
			<li class="about__content__li">A <span class="about__content__li--span">star</span> is born !..</li>
		</ul>
	</div>
</div>