      <div layout="row" layout-align="center center">
        <img class="profile-image" src="images/profile.jpg" class="md-card-image" alt="varun-profile-image">
      </div>
      <div layout="row" layout-align="center center">
        <md-card class="profile-card" layout="column">
            <md-card-content class="profile-card-content" style="padding-top:40px;">
              <p class="lobster">Hi, I am varun, UI enthusiast who loves crafting interfaces which gives a User Experience.</p>
            </md-card-content>
        </md-card>
      </div>
      <div layout="row" layout-align="center center">
        <md-card class="profile-card" layout="column">
            <md-card-content class="profile-card-content" style="padding-top:40px;">
              <p class="lobster">Hi, I am a very social, fun loving and creative guy. I love coding and mostly the front end part where i get to flex my creative skills. When i am not coding you can find me reading, sketching or surfing on medium reading UX design articles. Connect with me at : </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
              <md-button class="md-icon-button" aria-label="facebook">
                <md-icon class="fa fa-2x fa-facebook-square"><a href="https://www.facebook.com/varun.narecoderadhakrishnan" target="_blank"></a></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="linkedin">
                <md-icon class="fa fa-2x fa-linkedin-square"><a href="https://in.linkedin.com/in/varunnr" target="_blank"></a></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="github">
                <md-icon class="fa fa-2x fa-github-square"><a href="https://github.com/nrvarun" target="_blank"></a></md-icon>
              </md-button>
        </md-card-actions>
        </md-card>
      </div>