      <div layout="row" layout-align="center center">
        <div class="">
          <img src="images/profile.jpg" class="md-card-image" alt="varun-profile-image">
        </div>
        <md-card class="profile-card" layout="column">
            <md-card-content class="profile-card-content">
              <h2 style="margin-top:0px;">Varun</h2>
              <p class="lobster">Hi, I am varun, Front end engineer who loves crafting interfaces which gives a great experience.</p>
            </md-card-content>
            <md-card-footer class="profile-card-footer">
              <div layout="row">
                <span flex></span>
                <p class="roboto">Connect with me : </p>
                <md-button class="md-icon-button socialshare-btn" ng-click="showBottomSheetSocial()"><i class="fa fa-custom fa-ellipsis-v"></i></md-button>
              </div>
            </md-card-footer>
        </md-card>
      </div>