<div style="text-align:center;">
   <div layout="column" layout-sm="column" layout-align="center center" layout-padding layout-margin>
        <div flex>
          <md-card class="skill-card">
            <md-card-title class="skill-card__title">
              <md-card-title-text class="skill-card__title-text">
                <span class="md-headline">Foundation skills</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-list flex>
                  <md-list-item class="md-1-line">
                    <div class="md-list-item-text">
                      <ul class="skill-card__list-ul">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Javascript</li>
                        <li>Single Page Apps</li>
                        <li>Web perf optimization</li>
                      </ul>
                    </div>
                  </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>
        </div>
        <div flex>
          <md-card class="skill-card">
            <md-card-title class="skill-card__title">
              <md-card-title-text class="skill-card__title-text">
                <span class="md-headline skill-card-title">Framework skills</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-list flex>
                  <md-list-item class="md-1-line">
                    <div class="md-list-item-text">
                      <ul class="skill-card__list-ul">
                        <li>Bootstrap 3</li>
                        <li>Material Design lite</li>
                        <li>AngularJS by Google</li>
                        <li>Angular material</li>
                      </ul>
                    </div>
                  </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>
        </div>
        <div flex>
          <md-card class="skill-card">
            <md-card-title class="skill-card__title">
              <md-card-title-text class="skill-card__title-text">
                <span class="md-headline">Front end tooling</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <md-list flex>
                  <md-list-item class="md-1-line">
                    <div class="md-list-item-text">
                      <ul class="skill-card__list-ul">
                        <li>Yeoman</li>
                        <li>Gulp</li>
                        <li>SASS Preprocessor (CSS)</li>
                        <li>Jade Preprocessor HTML)</li>
                        <li>node package manager</li>
                        <li>Browser Sync for livereloading</li>
                      </ul>
                    </div>
                  </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>
        </div>
      </div>
</div>