<md-bottom-sheet>
  <div layout="row" layout-wrap layout-padding>
  <div flex style="float:left;">
    <md-button class="social-btn">
        <a target="_blank" href="https://www.facebook.com/varun.narecoderadhakrishnan">
          <i class="fa fa-social-btm fa-facebook-square"></i>
        </a>
      </md-button>
  </div>
  <div flex style="float:left;">
    <md-button class="social-btn">
        <a href="https://github.com/nrvarun" target="_blank">
          <i class="fa fa-social-btm fa fa-github-alt"></i>
        </a>
      </md-button>
  </div>
  <div flex style="float:left;">
      <md-button class="social-btn" target="_blank">
        <a href="https://in.linkedin.com/in/varunnr" target="_blank">
          <i class="fa fa-social-btm fa-linkedin-square"></i>
        </a>
      </md-button>
    </div>
    <div flex style="float:left;">
      <md-button class="social-btn">
        <a href="mailto:nr.varun79@gmail.com">
          <i class="fa fa-social-btm fa-envelope-square"></i>
        </a>
      </md-button>
    </div>
    <div flex style="float:left;">
      <md-button class="social-btn">
        <a href="https://twitter.com/nr_varun" target="_blank">
          <i class="fa fa-social-btm fa-twitter-square"></i>
        </a>
      </md-button>
    </div>
    <div flex style="float:left;">
      <md-button class="social-btn">
        <a href="http://stackoverflow.com/users/5234606/nrvarun" target="_blank">
          <i class="fa fa-social-btm fa-stack-overflow"></i>
        </a>
      </md-button>
    </div>
  </div>
</md-bottom-sheet>