html::-webkit-scroll-bar { width: 0 !important; }
body {
	font-family: helvetica;
	font-size: 16px;
}
.social-list-item{
	min-width: 80px !important;
	width: 90px;
}
.sidenav-toolbar {
    height: 220px !important;
    min-height: 128px;
    max-height: 250px !important;
    background: url('../images/random_grey.png');
}
.sidenav-profile-img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}
.main-toolbar{
	background-color: rgb(72, 79, 89);
}
.sidenav-data{
	font-size: 15px;
	line-height: 30px;
	color: black;
	display: inline-block;
}
.sidenav-data___icon {
	color: black;
}
.sidenav-data___text {
	background-color: #FFFFFF;
	color: black;
	width: 75%;
	display: inline-block;
}
.profile-image {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 5px solid lightgrey;
	position: relative;
	top:40px;
	z-index: 30;	
	box-shadow: 2px 2px 5px #888888;
}
.profile-card{
	width: 320px;
	height: auto;
	box-shadow: 1px 1px 5px grey;
}
.profile-card-content{
	padding-top: 0px;
	padding-bottom: 0px;
}
.profile-card-footer{
	padding-top: 0px;
	padding-bottom: 0px;
}
.social-links {
	background-color: gray;
}
.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }
.md-grid-item-content {
  height: 96px; }
.md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }
.md-grid-text {
  padding-bottom: 5px; }

@media screen and (max-width: 750px) {

.fa-social-btm{
	font-size: 70px;
}

}
@media screen and (max-width: 600px) {

.fa-social-btm{
	font-size: 60px;
}

}
@media screen and (max-width: 500px) {

.fa-social-btm{
	font-size: 50px;
}

}