html::-webkit-scroll-bar { width: 0 !important; }
body {
	font-family: helvetica;
	font-size: 16px;
}
.fa-custom {
	font-size: 17px !important;
}
.fa-card-social{
	font-size: 25px;
}
.fa-social-btm{
	font-size: 70px;
}
.fa-facebook-square{
	color:#4e69a2;
}
.fa-envelope-square{
	color:#cc181e;
}
.fa-stack-overflow{
	color: #F47920;
}
.fa-twitter-square{
	color: #55acee;
}
.fa-github-alt {
	color: black;
}
.fa-linkedin-square{
	color: #0079B5;
}
.social-list-item{
	min-width: 80px !important;
	width: 90px;
}
.sidenav-toolbar {
    height: 220px !important;
    min-height: 128px;
    max-height: 250px !important;
    background: url('../images/random_grey.png');
}
.sidenav-profile-img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}
.main-toolbar{
	background-color: rgb(72, 79, 89);
}
/*md-list-item{
	min-height: 10px !important;
}
md-bottom-sheet.md-grid md-list-item {
	max-width: 20%;
	height: 80px;
}*/
.social-btn{
	margin: 0px;
	padding: 10px;
	min-width: 60px !important;
}
.sidenav-data{
	font-size: 15px;
	line-height: 30px;
}
.profile-image {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 5px solid lightgrey;
	position: relative;
	top:40px;
	z-index: 99;	
	box-shadow: 2px 2px 5px #888888;
}
.profile-card{
	width: 320px;
	height: auto;
	box-shadow: 1px 1px 10px grey;
}
.profile-card-content{
	padding-top: 0px;
	padding-bottom: 0px;
}
.profile-card-footer{
	padding-top: 0px;
	padding-bottom: 0px;
}
.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }
.md-grid-item-content {
  height: 96px; }
.md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }
.md-grid-text {
  padding-bottom: 5px; }

@media screen and (max-width: 750px) {

.fa-social-btm{
	font-size: 70px;
}

}
@media screen and (max-width: 600px) {

.fa-social-btm{
	font-size: 60px;
}

}
@media screen and (max-width: 500px) {

.fa-social-btm{
	font-size: 50px;
}

}